.header__bottom
    .container
        .header__bottom-inner
            .clock-card.clock-card-1
                span.clock-card__person 50%
                span.clock-card__like 
                    i.far.fa-heart
                span.clock-card__card
                    i.far.fa-shopping-cart
                img.clock-card__img(src="./img/clock.webp", alt="clock")
                .clock-card__info   
                    h3.clock-card__title Fantastic Style
                    p.clock-card__price 9 128 000 UZS
            .clock-card.clock-card-2
                span.clock-card__person 50%
                span.clock-card__like 
                    i.far.fa-heart
                span.clock-card__card
                    i.far.fa-shopping-cart
                img.clock-card__img(src="./img/clock.webp", alt="clock")
                .clock-card__info   
                    h3.clock-card__title Fantastic Style
                    p.clock-card__price 9 128 000 UZS
            
            .clock-card.clock-card-2
                span.clock-card__person 50%
                span.clock-card__like 
                    i.far.fa-heart
                span.clock-card__card
                    i.far.fa-shopping-cart
                img.clock-card__img(src="./img/clock.webp", alt="clock")
                .clock-card__info   
                    h3.clock-card__title Fantastic Style
                    p.clock-card__price 9 128 000 UZS
                     
                