.header__top
    .container
        .header__top-inner
            a(class="header__top-inner__lang" href="#!") RU 
            a(class="header__top-inner__logo" href="#!") TOTEMBO 
            a(class="header__top-inner__search" href="#!") 
                i.far.fa-search 
            