$wh: #fff;
$chorniy: #000;
$lightGredy: #e5e5e5;
$gray: #e1e1e1;
$lightBlack: #323232;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: "Montserrat", "sans-serif";
    background-color: $lightGredy;
}
li,ul{
    list-style: none;
}
a{
    text-decoration: none
}
.container{
    @include container();
}