.header__midddle{
    margin-bottom: 40px;
&-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-top: #C4C4C4 solid 1px;
    border-bottom: #C4C4C4 solid 1px;
    
    .nav {
        display: flex;
        align-items: center;
    
        &__list {
            display: flex;
            gap: 50px;
        }
    
        &__link {
    
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            color: $lightBlack;
            &:hover{
                color: $chorniy;
            }
        }
    }
}
&-social{
    display: flex;
    gap: 30px;
    & a{
        color: $chorniy;
        & i {
           font-size: 18px;
       } 
       &:hover{
           color: $lightBlack;
       }
    }
}

}
