doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Totembo Lazbek
        link(rel="stylesheet", href="./library/fontawesome/css/all.min.css", attr)
        link(rel="stylesheet", href="./css/style.css", attr)
        
    body
        
        header.header 
            //=require view/header/header__top.pug
            //=require view/header/header__middle.pug
            //=require view/header/header__botttom.pug
        main.main
        footer 
        script(src="./js/script.js") 